<div
  class="video-gallery-component{% if wrapper_class != blank %} {{ wrapper_class }}{% endif %}"
  data-video-gallery-component
>
  <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
    {%- if title != blank -%}
      <h2 class="title inline-richtext video-gallery-component__title {{ heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ title }}
      </h2>
    {%- endif -%}
  </div>

  <div class="page-width">
    <div class="video-gallery-component__grid">
      {%- for i in (1..3) -%}
        {%- liquid
          assign card_video = blank
          assign card_label = 'Play gallery video '
          assign card_aria_label = card_label | append: i
          case i
            when 1
              assign card_video = video_1
            when 2
              assign card_video = video_2
            when 3
              assign card_video = video_3
          endcase
        -%}
        {% render 'video-card',
          card_video: card_video,
          card_label: card_aria_label,
          card_index: forloop.index0
        %}
      {%- endfor -%}
    </div>
  </div>
</div>
